//color variables
$color-primary: #48cab2;
$color-secoundary: #ff7451;

$font-color-1: #333;
$font-color-2: #777;

//font family
$font-primary: "Poppins", sans-serif;
$font-secounry: "Nunito", sans-serif;

// GRID
$grid-width: 135rem;
$gutter-vertical: 5rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 5rem;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  position: relative;
  color: $font-color-1;
  line-height: 1.7;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin hoverUnderline($color) {
  content: "";
  background: none repeat scroll 0 0 transparent;
  background: $color;
  position: absolute;
  bottom: 0;
  display: block;
  height: 2px;
  left: 50%;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

@mixin hoverScale {
  width: 100%;
  left: 0;
}

#add_to_cart {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 0;
  background-color: $color-primary;
  color: #fff;
  padding: 10px 20px;
  transition: all 0.2s ease;

  &:hover {
    background-color: $color-secoundary;
  }
}
